*,
* ::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1e6dc;
}
:root{
--color-primario: rgb(225, 135, 18);

}

.contenedor{
    position: relative;
    display: inline-block;
    background-size: cover;
    padding: 0;
  
    
}

.texto-encima{
    position: absolute;
    top: 60px;
    left: 10px;
    color: aliceblue;
    font-size: 15px;
    margin-left: 99px;
    margin-top: 15px;
    text-shadow: 6px 9px 5px  rgb(6, 2, 2);
}
.centrado{
    position: absolute;
    bottom: 300px;
    margin-left: 99px;
    display: flex;
    text-align: left;
    color: aliceblue;
    font-family: serif;
    font-size: 50px;
    width:50%;
    text-shadow: 5px 5px 5px  rgb(6, 2, 2);
}

.btn{
    cursor: pointer;
    position: absolute;
    border: 10px;
    bottom: 200px;
    margin-left: 99px;
    border-radius: 2px;
    background-color:  rgb(225, 135, 18);
    color: rgb(250, 251, 252);
    padding: 10px;
    font-size:20px ;
    
}

.opacity{
    /*puede afectar el rendimiento de algunos navegadores */
    image-rendering: -webkit-optimize-contrast; /* Safari, Chrome */
    image-rendering: pixelated; /* Firefox */
    image-rendering: optimizeQuality; /* Otros navegadores */
}
/*hoja 2*/
.contenedor-2{
    display: flex; /* Esto crea un contenedor flexible para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    justify-content: center;
    margin-top: 80px;
    gap: 15px;
    float: left;
 
}
/* div - texto izquierdo*/
.bloque1{
    flex: 1; /* Hace que el espacio del texto se expanda para llenar el espacio restante */
  padding: 4px; /* Añade espaciado alrededor del texto */
 margin: 90px;
  width: 50%;
}

  .subtitulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
  }

/* div - texto derecho*/
.bloque2{
    flex: 1; /* Hace que el espacio de la imagen se expanda para llenar el espacio restante */
    text-align: right; /* Alinea la imagen a la derecha */
}
.silla{
display: flex;
}

.pag-2{
    display: flex;
    align-items: center;
    justify-content: center;

}


/*paghome3*/
.contendor-3{
    flex: 1; /* Hace que el espacio del texto se expanda para llenar el espacio restante */
    padding: 4px; /* Añade espaciado alrededor del texto */
   margin: 90px;

 
  }

.titulo3{
 margin-top: 120px;
 margin-left: 98px;
 

}
.titulo-3-3{
    font-size: 42px;
    margin-bottom: 15px;
}

.contenedor-imagenes{
   display:flex;
   flex: 1; /* Hace que el espacio de la imagen se expanda para llenar el espacio restante */
   justify-content: center;
   margin-left: 546px;
}


.imagen-cucharas{
    width: 250px;
}
.sub-parrafo-1{
    width: 18rem;
}

.imagen-sillas{
    width: 269px;
}
.sub-parrafo-2{
    width: 19rem;
}

.imagen-ventana
{
    width: 227px;
}
.sub-parrafo-3{
    width: 241px;
}

.bton-3{
    cursor: pointer;
    position: absolute;
    border: 10px;
    margin-left: 99px;
    border-radius: 2px;
    background-color: var(--color-primario);
    color: rgb(250, 251, 252);
    padding: 10px;
    font-size:20px ;
    margin-bottom:25px ;
    
}